.wrapper {
  width: 780px;
  margin: 0 auto;
  margin-top: 40px;
}
.board {
  position: relative;
  background: #ffec42;
  padding: 20px;
  border-right: 20px solid #4D88C2;
  border-left: 20px solid #4D88C2;
}
.board-legs {
  height: 100px;
  border-right: 20px solid #4D88C2;
  border-left: 20px solid #4D88C2;
}
.cell {
  width: 96px;
  height: 96px;
  float: left;
  background: #FFF;
  border: 2px #ffec42 solid;
  border-radius: 50%;
  box-shadow: inset 1px -3px 6px rgba(68,68,68,0.4);
}
.animate-coin {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  position: absolute;
  background-color: #000;
  background-size: 86px 86px;
  background-repeat: no-repeat;
  background-position: center center;
}
.coin {

}
.blue {
  background-color: #0146ad;
  background-image: url("../images/blue-coin.jpg");
  background-size: 86px 86px;
  background-repeat: no-repeat;
  background-position: center center;
}
.yellow {
  background-color: #f8c536;
  background-image: url("../images/yellow-coin.jpg");
  background-size: 88px 88px;
  background-repeat: no-repeat;
  background-position: center center;
}
.win {
  width: 400px;
  height: 240px;
  background: black;
  position: absolute;
  top: 100px;
  left: 150px;
  border-radius: 200px;
  background: url("https://avatars3.githubusercontent.com/u/24913?v=3&s=460");
  font-size: 60px;
  color: white;
  text-align: center;
  padding-top: 160px;
}






/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
